<link href="/assets/css/style.css" rel="stylesheet" />

<div class="ptype">
  <p style="text-align: center">Wecode</p>
</div>
<hr />

<ol class="table-of-contents-list">
  <li>
    <a href="/wecode-01">Make Webucks - js</a>
  </li>
  <li>
    <a href="/wecode-02">Make Webucks - react</a>
  </li>
  <li>
    <a href="/wecode-03">react fetch 실습</a>
  </li>
  <li>
    <a href="/wecode-04">Make Webucks - node.js</a>
  </li>
  <li>
    <a href="/wecode-05">1차 프로젝트 회고록</a>
  </li>
  <li>
    <a href="/wecode-06">2차 프로젝트 회고록</a>
  </li>
  <li>
    <a href="/wecode-07">네트워크 특강</a>
  </li>
</ol>
